body {
  //primaria
  --cor-primaria-hs: 204, 39%;
  --cor-primaria-l: 49%;
  --cor-primaria-hsl: var(--cor-primaria-hs), var(--cor-primaria-l);
  --cor-primaria: hsl(var(--cor-primaria-hsl));
  --cor-primaria-escura: hsla(var(--cor-primaria-hs), calc(var(--cor-primaria-l) - 10%));
  --cor-primaria-clara: hsla(var(--cor-primaria-hs), calc(var(--cor-primaria-l) + 10%));
  --cor-primaria-90: hsla(var(--cor-primaria-hsl), 90%);
  --cor-primaria-80: hsla(var(--cor-primaria-hsl), 80%);
  --cor-primaria-70: hsla(var(--cor-primaria-hsl), 70%);
  --cor-primaria-60: hsla(var(--cor-primaria-hsl), 60%);
  --cor-primaria-50: hsla(var(--cor-primaria-hsl), 50%);
  --cor-primaria-40: hsla(var(--cor-primaria-hsl), 40%);
  --cor-primaria-30: hsla(var(--cor-primaria-hsl), 30%);
  --cor-primaria-20: hsla(var(--cor-primaria-hsl), 20%);
  --cor-primaria-10: hsla(var(--cor-primaria-hsl), 10%);

  //secundaria
  --cor-secundaria-hs: 46, 81%;
  --cor-secundaria-l: 55%;
  --cor-secundaria-hsl: var(--cor-secundaria-hs), var(--cor-secundaria-l);
  --cor-secundaria: hsl(var(--cor-secundaria-hsl));
  --cor-secundaria-escura: hsla(var(--cor-secundaria-hs), calc(var(--cor-secundaria-l) - 10%));
  --cor-secundaria-clara: hsla(var(--cor-secundaria-hs), calc(var(--cor-secundaria-l) + 10%));
  --cor-secundaria-90: hsla(var(--cor-secundaria-hsl), 90%);
  --cor-secundaria-80: hsla(var(--cor-secundaria-hsl), 80%);
  --cor-secundaria-70: hsla(var(--cor-secundaria-hsl), 70%);
  --cor-secundaria-60: hsla(var(--cor-secundaria-hsl), 60%);
  --cor-secundaria-50: hsla(var(--cor-secundaria-hsl), 50%);
  --cor-secundaria-40: hsla(var(--cor-secundaria-hsl), 40%);
  --cor-secundaria-30: hsla(var(--cor-secundaria-hsl), 30%);
  --cor-secundaria-20: hsla(var(--cor-secundaria-hsl), 20%);
  --cor-secundaria-10: hsla(var(--cor-secundaria-hsl), 10%);

  //branca
  --cor-branca-hs: 0, 0%;
  --cor-branca-l: 100%;
  --cor-branca-hsl: var(--cor-branca-hs), var(--cor-branca-l);
  --cor-branca: hsl(var(--cor-branca-hsl));
  --cor-branca-escura: hsla(var(--cor-branca-hs), calc(var(--cor-branca-l) - 10%));
  --cor-branca-clara: hsla(var(--cor-branca-hs), calc(var(--cor-branca-l) + 10%));
  --cor-branca-90: hsla(var(--cor-branca-hsl), 90%);
  --cor-branca-80: hsla(var(--cor-branca-hsl), 80%);
  --cor-branca-70: hsla(var(--cor-branca-hsl), 70%);
  --cor-branca-60: hsla(var(--cor-branca-hsl), 60%);
  --cor-branca-50: hsla(var(--cor-branca-hsl), 50%);
  --cor-branca-40: hsla(var(--cor-branca-hsl), 40%);
  --cor-branca-30: hsla(var(--cor-branca-hsl), 30%);
  --cor-branca-20: hsla(var(--cor-branca-hsl), 20%);
  --cor-branca-10: hsla(var(--cor-branca-hsl), 10%);

  //preta
  --cor-preta-hs: 0, 0%;
  --cor-preta-l: 0%;
  --cor-preta-hsl: var(--cor-preta-hs), var(--cor-preta-l);
  --cor-preta: hsl(var(--cor-preta-hsl));
  --cor-preta-escura: hsla(var(--cor-preta-hs), calc(var(--cor-preta-l) - 10%));
  --cor-preta-clara: hsla(var(--cor-preta-hs), calc(var(--cor-preta-l) + 10%));
  --cor-preta-90: hsla(var(--cor-preta-hsl), 90%);
  --cor-preta-80: hsla(var(--cor-preta-hsl), 80%);
  --cor-preta-70: hsla(var(--cor-preta-hsl), 70%);
  --cor-preta-60: hsla(var(--cor-preta-hsl), 60%);
  --cor-preta-50: hsla(var(--cor-preta-hsl), 50%);
  --cor-preta-40: hsla(var(--cor-preta-hsl), 40%);
  --cor-preta-30: hsla(var(--cor-preta-hsl), 30%);
  --cor-preta-20: hsla(var(--cor-preta-hsl), 20%);
  --cor-preta-10: hsla(var(--cor-preta-hsl), 10%);
}
