body {
  //Variáveis de configuração da cor
  --cor-primaria-hs: 204, 39%;
  --cor-primaria-l: 49%;
  --cor-primaria-hsl: var(--cor-primaria-hs), var(--cor-primaria-l);
  --cor-primaria: hsl(var(--cor-primaria-hsl));
  --cor-primaria-escura: hsla(var(--cor-primaria-hs), calc(var(--cor-primaria-l) - 10%));
  --cor-primaria-clara: hsla(var(--cor-primaria-hs), calc(var(--cor-primaria-l) + 10%));
  --cor-primaria-90: hsla(var(--cor-primaria-hsl), 90%);
  --cor-primaria-80: hsla(var(--cor-primaria-hsl), 80%);
  --cor-primaria-70: hsla(var(--cor-primaria-hsl), 70%);
  --cor-primaria-60: hsla(var(--cor-primaria-hsl), 60%);
  --cor-primaria-50: hsla(var(--cor-primaria-hsl), 50%);
  --cor-primaria-40: hsla(var(--cor-primaria-hsl), 40%);
  --cor-primaria-30: hsla(var(--cor-primaria-hsl), 30%);
  --cor-primaria-20: hsla(var(--cor-primaria-hsl), 20%);
  --cor-primaria-10: hsla(var(--cor-primaria-hsl), 10%);
  --cor-secundaria-hs: 46, 81%;
  --cor-secundaria-l: 55%;
  --cor-secundaria-hsl: var(--cor-secundaria-hs), var(--cor-secundaria-l);
  --cor-secundaria: hsl(var(--cor-secundaria-hsl));
  --cor-secundaria-escura: hsla(var(--cor-secundaria-hs), calc(var(--cor-secundaria-l) - 10%));
  --cor-secundaria-clara: hsla(var(--cor-secundaria-hs), calc(var(--cor-secundaria-l) + 10%));
  --cor-secundaria-90: hsla(var(--cor-secundaria-hsl), 90%);
  --cor-secundaria-80: hsla(var(--cor-secundaria-hsl), 80%);
  --cor-secundaria-70: hsla(var(--cor-secundaria-hsl), 70%);
  --cor-secundaria-60: hsla(var(--cor-secundaria-hsl), 60%);
  --cor-secundaria-50: hsla(var(--cor-secundaria-hsl), 50%);
  --cor-secundaria-40: hsla(var(--cor-secundaria-hsl), 40%);
  --cor-secundaria-30: hsla(var(--cor-secundaria-hsl), 30%);
  --cor-secundaria-20: hsla(var(--cor-secundaria-hsl), 20%);
  --cor-secundaria-10: hsla(var(--cor-secundaria-hsl), 10%);
  --cor-branca: #fff;
  --cor-preta: #000;

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #e0e0e0;
}

.nav-item.active {
  background-color: fuchsia;
}

table.table {
  background-color: var(--cor-branca);
}

thead {
  background-color: #3d585b;
}

thead tr {
  color: var(--cor-branca);
}

nav.Cabecalho.Cabecalho-dark {
  background-color: #3d585b;
}
